body {
    background-color: rgb(202, 202, 202);
}

img {
    width: 30vh;
}

.paises{
    padding: 1% 27%;
}

.agende{
    padding: 3% 28%;
}

.home{
    padding: 3% 32%;
}


.agende, .paises, .home {
    font-size: 4vh;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
    margin: 10px;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    border-radius: 10px;
}

.home:hover{
    transform: scale(1.1);
    background-color: #609d53;
    color:white;
}

.agende:hover{
    transform: scale(1.1);
    background-color: #609d53;
    color:white;
}

.paises:hover{
    transform: scale(1.1);
    background-color: #609d53;
    color:white;
}
