.preco{
    color:gray;
}

span{
    font-size: 4vh;
    font-family: "Open Sans", sans-serif;
}

img{
    width: 50vh;
    border: 3px solid;
    border-color: #609d53;
    transition: all 0.5s ease;
    border-radius: 15px;
}

img:hover{
    transform: scale(1.1);
}

.grupo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10%;
    margin-top: 8%;
    flex-wrap: nowrap;
}

body{
    background-color: rgb(220, 218, 218);
}

hr{
    width: 95%;
    height: 5px;
    background-color: #609d53;
    border-radius: 50px;
    margin-top: 5%;
}